body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}




/* HEAD_START */

.head {
    margin: 0 0 100px 0;
    padding: 0;
    background-image: url("../images/head-back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.head_inner {
    margin: 0;
    padding: 50px 0px 280px;
}

.head_inner_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 127px 0;
    padding: 0;
}

.head_inner_top_left {
    margin: 0;
    padding: 0;
}

.head_inner_top_left_link {
    margin: 0;
    padding: 0;
}

.head_inner_top_left_link_image {
    width: 150px;
    height: 50px;
}

.head_inner_top_right_list {
    display: flex;
    list-style: none;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.head_inner_top_right_list_item {
    margin: 0;
    padding: 0;
}

.head_inner_top_right_list_item_link {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s ease-in-out;
}

.head_inner_top_right_list_item_link:hover {
    color: #bababa;
}

.head_inner_bottom {
    margin: 0;
    padding: 0;
    width: 500px;
    border: 2px solid #ffffff;
    border-radius: 3px;
}

.head_inner_bottom_title {
    margin: 0;
    padding: 40px;
    color: #ffffff;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 2px;
}

/* HEAD_END */










/* VR_START */

.vr {
    margin: 0;
    padding: 0;
}

.vr_inner {
    display: flex;
    align-items: center;
    gap: 50px;
    margin: 0;
    padding: 50px 0;
}

.vr_inner_left {
    margin: 0;
    padding: 0;
}

.vr_inner_right {
    margin: 0;
    padding: 0;
    background-color: white;
    width: 600px;
}

.vr_inner_title {
    color: black;
    font-weight: 200;
    font-size: 50px;
    margin: 0 0 20px 0;
    padding: 0;
}

.vr_inner_text {
    color: rgb(31, 31, 31);
    font-size: 20px;
    margin: 0;
    padding: 0;
}


/* VR_END */












.our {
    padding: 60px 0;
}


.our_inner {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.top h1 {
    font-size: 36px;
    font-weight: 300;
    letter-spacing: 1px;
}

.see_all_btn {
    border: 1px solid black;
    background: transparent;
    padding: 8px 24px;
    font-size: 13px;
    cursor: pointer;
}



.our_inner {
    width: 100%;
    height: 450px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: end;
    padding: 20px;
    position: relative;
}


.deep-earth {
    background-image: url("../images/our.png");
}

.soccer-team {
    background-image: url("../images/our2.png");
}

.from-up {
    background-image: url("../images/our3.png");
}

.curiosity {
    background-image: url("../images/our4.png");
}

.night-arcade {
    background-image: url("../images/our5.png");
}

.the-grid {
    background-image: url("../images/our6.png");
}

.pocket-borealis {
    background-image: url("../images/our7.png");
}

.fisheye {
    background-image: url("../images/our8.png");
}



.footer {
    background: #000;
    color: #fff;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 28px;
    margin-bottom: 20px;
}

.footer-menu {
    display: flex;
    gap: 25px;
    list-style: none;
}

.footer-menu a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

.social {
    display: flex;
    list-style: none;
    gap: 15px;
    margin-bottom: 25px;
    justify-content: flex-end;
}

.social img {
    width: 20px;
}

.copy {
    font-size: 13px;
    color: #bfbfbf;
    text-align: right;
}